body {
    margin: 0;
    overflow: hidden;
}

#countdown-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    z-index: 2;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
}

button {
    
    padding: 10px 20px;
    background-color: #FFF;
    border: none;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: pulse 2s ease-in-out infinite;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

@keyframes pulse {
    0% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.3); }
    50% { box-shadow: 0 0 25px rgb(255, 255, 255); }
    100% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.3); }
}

button:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}